<div class="footer bg-light text-secondary">
    <div class="row justify-content-center ms-5">
     <div class="col-lg-3 mt-4">
         <h5 class="fw-bold">Contact</h5>
         <p>Kimathi street</p>
         <p>Nairobi city</p>
         <p>Phone number: +254788563245</p>
         <p>Mobile number: 011345667889</p>
     </div>
     <div class="col-lg-3 mt-4">
         <h5 class="fw-bold">Menu</h5>
         <p>Home</p>
         <p>About</p>
         <p>Products</p>
         <p>Blog</p>
         <p>Contact</p>
     </div>
     <div class="col-lg-3 mt-4">
         <h5 class="fw-bold">Useful Links</h4>
         <p>Blog post</p>
         <p>Return Policy</p>
         <p>Coupons</p>
        
     </div>
     <div class="col-lg-3 mt-4">
         <h5 class="fw-bold">Follow Us</h5>
         <p>Facebook</p>
         <p>Twitter</p>
         <p>Instagram</p>
         <p>Youtube</p>
     </div>
     <p class="fw-bold text-center me-5">&copy; 2022 E-TechShop. All rights reserved.</p>
    </div>
 </div>