<div class="footer bg-dark text-secondary">
    <div class="row justify-content-center ms-5">
     <div class="col-lg-3 mt-4">
         <p class="text-light">Contact</p>
         <p>Kimathi street</p>
         <p>Nairobi city</p>
         <p>Phone number: +254788563245</p>
         <p>Mobile number: 011345667889</p>
     </div>
     <div class="col-lg-3 mt-4">
         <p class="text-light">Menu</p>
         <p>Home</p>
         <p>About</p>
         <p>Products</p>
         <p>Blog</p>
         <p>Contact</p>
     </div>
     <div class="col-lg-3 mt-4">
         <p class="text-light">Useful Links</p>
         <p>Blog post</p>
         <p>Return Policy</p>
         <p>Coupons</p>
        
     </div>
     <div class="col-lg-3 mt-4">
         <p class="text-light">Follow Us</p>
         <p>Facebook</p>
         <p>Twitter</p>
         <p>Instagram</p>
         <p>Youtube</p>
     </div>
     <p class="text-light text-center me-5">&copy; 2022 E-TechShop. All rights reserved.</p>
    </div>
 </div>