{% extends 'layouts/base.html' %}

{% block content %}

<div class="container">
    <div class="row mt-5 justify-content-center ">
        <div class="col-lg-10 text-center">
            <h2>About Us</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, consequuntur excepturi officiis
                laborum ut aliquid eos dolorem exercitationem iste a itaque, iusto ab quasi numquam modi temporibus quas
                pariatur. Incidunt.</p>
        </div>
        <div class="col-lg-5 mt-5 ">
            <img class="w-100"
                src="https://images.unsplash.com/photo-1554702311-4f5b532c182a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXRodW1ibmFpbHx8ODUzODA2OTJ8fGVufDB8fHx8&dpr=1&auto=format&fit=crop&w=294&q=60">
        </div>
        <div class="col-lg-6 mt-5 mx-3">
            <h5>Our Vision</h5>
            <p class="mt-3">Building young entrepreneurs pioneering various aspects of business in Kenya</p>
                <h5>Our Mission</h5>
                <p class="mt-3">To become the one-stop ETech shop for retail in Kenya with implementation of best practices both online and offline.</p>
                <h5>Values</h5>
                <ul>
                    <li>Provide quality products & Services</li>
                    <li>Yaay, God is a Woman</li>
                </ul>    
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

{% endblock %}