{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ETech-Shop</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light offer">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold font-monospace p" href="{% url 'home' %}">ETech-Shop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav  ms-auto">
                    <li class="nav-item">
                        <a class="nav-link
                {% if request.path == '/' %} active-nav {% endif %}
                " href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link
                {% if 'shop' in request.path %} active-nav {% endif %}
                " href="{% url 'shop' %}">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link
                {% if 'about' in request.path %} active-nav {% endif %}
                " href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link
                {% if 'contact' in request.path %} active-nav {% endif %}
                " href="{% url 'contact' %}">Contact</a>
                    </li>

                    {% if request.user.is_authenticated %}

                    <li class="nav-item">
                        <a class="btn btn-outline-danger btn-sm me-2" href="{% url 'dashboard' %}">Dashboard</a>
                    </li>

                    {%else %}
                    <li class="nav-item">
                        <a class="nav-link btn btn-sm btn-warning me-2
                {% if 'sign_in' in request.path %} active-nav {% endif %}
                " href="{% url 'login' %}">login</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'cart' %}">
                            <i class="fa fa-cart-plus fa-2x  me-2 text-danger" aria-hidden="true"><span class="fs-5 fw-bold text-light bg-danger ">0</span></i>
                           
                        </a>
                        
                    </li>
                    <!-- <li class="nav-item">
                        <a class="btn btn-danger" href="{% url 'sign_up' %}">Sign up</a>
                    </li> -->

                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid offer">
        <div class="row justify-content-center ms-5 pt-5">
            <div class="col-lg-6 mt-5 pt-5">
                <h5 class="pt-5">NEW ARRIVALS</h5>
                <h3><span class="text-danger"> Best Price</span> This Year</h3>
                <p class="">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed, illum corrupti quas dolore
                    nesciunt eos
                    accusamus repudiandae, ducimus iste voluptatibus ipsam vel repellendus quam? Debitis doloribus enim
                    animi officiis error.</p>
                <a href="{% url 'shop' %}" class="btn btn-danger ">Explore now <i class="fa fa-long-arrow-right"
                        aria-hidden="true"></i>
                </a>
            </div>
            <div class="col-lg-6 mt-3">
                <img class="img-fluid  " src="{% static 'images/headset1.png' %}">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center mt-5 pt-5">
            <h4 class="mb-4 text-center">Available offers</h4>
            <div class="col-sm-4 text-center">
                <div class="card">
                    <div class="card-body">
                        <img class="img-fluid w-50" src="static/images/w-headphones.jpg">
                        <p>Get 50% discounts on headphones</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="card">
                    <div class="card-body">
                        <img class="img-fluid w-50" src="static/images/w1.png">
                        <p>Explore new collection of watches</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="card">
                    <div class="card-body">
                        <img class="img-fluid w-50" src="static/images/probook.jpg">
                        <p>Exciting deals on Laptops</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center mt-5 ">

            <h4 class="fw-bolder mt-3 text-center">Featured Products</h4>
            <p class="mb-5 text-center">Here you can check out our new products with fair prices</p>

            {% for product in products %}

            {% include 'layouts/products.html' %}

            {% endfor %}
        </div>

    </div>
    <div class="container-fluid offer">
        <div class="row justify-content-center text-center">
            <div class="col-lg-4">
                <img class="img-fluid w-75 img-fluid" src="static/images/w2.png">
            </div>
            <div class="col-lg-6 mt-5">
                <p>Exclusively Available on E-TechShop</p>
                <h4>Smart watch 4</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum aliquid quo, aperiam reiciendis
                    laudantium temporibus perspiciatis iure reprehenderit esse adipisci aliquam doloribus totam. </p>
                <button class="btn btn-danger">Buy now <i class="fa fa-long-arrow-right"
                        aria-hidden="true"></i></button>
            </div>
        </div>
    </div>

    {% include "layouts/footer.html" %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/cart.js' %}">
        var user = '{{request.user}}'
    </script>
    {% block scripts %}

    {% endblock %}
</body>

</html>