{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row justify-content-center text-center mt-5">
        <div class="col-lg-6 mt-5">
            <h3 class="mt-5 mb-4">Buy Best products from <br> All of the world</h3>
            <h5 class="mt-5 text-danger">Exciting deals on Products</h5>
            <p class="text-danger">Get flat <span class="fw-bolder">10%</span> cashback</p>
           
        </div>
        <div class="col-lg-6 ">
            <img class="img-fluid" src="{% static 'images/landing.jpg' %}">
        </div>
    </div>
    <h3>Most Popular</h3>
    <div class="row justify-content-center mt-5">

        {% for product in products %}

        {% include 'layouts/products.html' %}

        {% endfor %}
    </div>
</div>

{% endblock %}

{% block scripts %}

{% endblock %}