{% extends 'layouts/base.html' %}
{% load static %}

{% block content%}

<div class="container">
        <div class="row justify-content-center">
            
            <div class="col-lg-4">
                <div class="card">
                    <img src="{{product.image.url}}" alt="{{product.name}}">
                </div>
            </div>
            <div class="col-lg-8">
                
    
                <h4 class="text-warning font-weight-bold">{{product.name}}</h4>
    
                <p> {{product.description}}</p>
    
            </div>
        </div>

        <h4 class="font-weight-bold">More like this</h4>
    <div class="row">
        {% for product in more_products %}
        {% include 'layouts/products.html' %}
        {% endfor%}
    </div>
</div>
{% endblock %}