{% extends 'layouts/base.html' %}
{% load widget_tweaks %}

{% block content %}

{% if validlink %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 mt-5">
            <h3>Enter (and confirm) password</h3>

            <div class="card">
                <div class="card-body">
                    <form method="post" action="">
                        {% csrf_token %}

                        {% for hidden in form.hidden_fields %}
                        {{hidden}}
                        {% endfor %}

                        {% for field in form.visible_fields %}

                        <div class="mb-3">
                            <label for="{{ field.id_for_label }}">{{ field.label }} </label>
                            {{ field|add_class:'form-control'}}
                            {% for error in field.errors %}
                            <span class="help-block"> {{ error }}</span>
                            {% endfor %}
                        </div>
                        {% endfor %}

                        <button type="submit" class="btn btn-warning">Reset Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% else %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 mt-5">
            <h3 class="text-warning ">Password Reset Failed</h3>

            <p>The password reset link is invalid. This may be because it has been used already.
                please request as new password reset
            </p>

            <a href="{% url 'home' %}" class="btn btn-warning ">Home</a>
            <a href="{% url 'password_reset' %}" class="btn btn-warning">Reset Password</a>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}
