{% load static %}
<nav id="sidebar" class="bg-danger">
    <div class="sidebar-header">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <h4>E-Tech Shop</h4>

            </div>
        </div>
        
    </div>

    <ul class="list-unstyled components ">
        
        <li>
            <a href="">
                <i class="fa fa-tachometer mr-3"></i>
                Dashboard
            </a>
        </li>
        <li>
            <a href=""><i class="fa fa-tags mr-3"></i>Categories</a>
        </li>
        
        <li>
            <a href=""><i class="fa fa-files-o mr-3"></i>Products</a>
        </li>
        <li>
            <a href=""><i class="fa fa-comments mr-3"></i>Feedback</a>
        </li>
        
    </ul>
</nav>