.active-nav{
    color: #dc3545 !important;
}
.card{
    transition: 0.5s
  }
.card:hover{
    transform: scale(0.9 ,1);
}
.offer{
    background: radial-gradient(#fff, #ffd6d6) !important;
}
.pagination > li > a{
    color: #000;
    border: 1px solid #dc3545;
    
}
.pagination > li > a:focus,
.pagination > li > a:hover {
   background: #dc3545;
   color: #fff;
}

@media only screen and (max-width:992px){
    .row{
        text-align: center;
    }
   
}
.nav-tabs > .active > a{
    color: #dc3545 !important;  
}